// n is number of stars required
@function multiple-box-shadow ($n) {
  $value: '#{random(2000)}px #{random(2000)}px #FFF';
  @for $i from 2 through $n {
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF';
  }

  @return unquote($value);
}
$shadows-small: multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big: multiple-box-shadow(100);
$transparent-white: rgba(255,255,255, 0.95);
$transparent-black: rgba(0,0,0, 0.95);

html,body {
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  overflow-y: scroll;
}
#background{
  height: 100%;
  position: absolute;
  #stars {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
    animation: animStar 50s infinite linear;

    &:after {
      content: " ";
      position: absolute;
      top: 100vh;
      width: 1px;
      height: 1px;
      background: transparent;
      box-shadow: $shadows-small;
    }
  }
  #stars2 {
    overflow: hidden;
    position: absolute;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
    animation: animStar 100s infinite linear;

    &:after {
      content: " ";
      position: absolute;
      top: 100vh;
      width: 2px;
      height: 2px;
      background: transparent;
      box-shadow: $shadows-medium;
    }
  }
  #stars3 {
    overflow: hidden;
    position: absolute;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
    animation: animStar 150s infinite linear;

    &:after {
      content: " ";
      position: absolute;
      top: 100vh;
      width: 3px;
      height: 3px;
      background: transparent;
      box-shadow: $shadows-big;
    }
  }
}
nav{
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 1vw;
  font-size: 1rem;
  @media (max-width: 500px) {
    font-size: 0.85rem;
    font-weight: 600;
    padding-left: 0.5vw;
  }
  ul{
    display: flex;
    margin: 0;
    padding: 1rem;
    list-style: none;
    gap: 2rem;
    @media (max-width: 500px) {
      gap: 1rem;
    }
    li{
      a{
        transition: ease all 0.3s;
        display: inline-block;
        color: silver;
        text-decoration: none;
      }
      a:hover{
        transform: scale(1.05);
      }
    }
  }
}
#landingPage{
  box-sizing: border-box;
  padding: 1rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  #titlebox{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 0.5em;

    @media (max-width: 500px) {
      transform: translateY(-5vh);
    }
    .title{
      margin: 0;
      padding: 0;
      font-weight: bold;
      color: silver;
      font-size: 2em;
      @media (max-width: 500px) {
        font-size: 1.5em;
        font-weight: bolder;
      }
    }
  }
}
#divider{
  box-sizing: border-box;
  box-shadow: inset 0rem 2rem 1rem -2rem black;
  width: 100%;
  height: 50vw; 
  border-top-left-radius: 55vw;  
  border-top-right-radius: 55vw;
  border-bottom: 0;
  background: $transparent-white;
}
#divider-flipped{
  box-sizing: border-box;
  box-shadow: 0rem 2rem 1rem -2rem rgb(69, 69, 69);
  width: 100%;
  height: 50vw; 
  border-bottom-left-radius: 55vw;  
  border-bottom-right-radius: 55vw;
  border-top: 0;
  background: $transparent-white;
}
#planetsPage{
  box-sizing: border-box;
  padding: 0 5rem;
  @media (max-width: 500px) {
    padding: 1rem;
  }
  padding-top: 5vh; //Needed because the navbar links dont account for navbar blocking content
}
#contactPage{
  box-sizing: border-box;
  padding: 1rem;
  height: 100vh;
  background: transparent;
  padding-top: 5vh; //Needed because the navbar links dont account for navbar blocking content
}
.planet{
  box-sizing: border-box;
  margin: 5rem 0;
  width: min(65vh, 65vw);
  height: min(65vh, 65vw);
  border-radius: 50%;
  background: $transparent-white;
  padding: 10%;
  transition: all .15s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;

  h1{
    margin: 0;
    margin-top: 1rem;
    @media (max-width: 500px) {
      font-size: 1.25rem;
    }
  }
  div{
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    a{
      svg{
        height: 5rem;
        width: 5rem;
        transition: ease all 0.3s;
        @media (max-width: 500px) {
          height: 3rem;
          width: 3rem;
        }
      }
      svg:hover{
        transform: scale(1.05);
      }
    }
  }
  h6{
    color: gray;
    text-align: center;
    margin: 1rem;
    @media (max-width: 500px) {
      margin: 0.25rem;
      font-size: 0.55rem;
    }
  }
  p{
    margin: 1rem;
    @media (max-width: 500px) {
      display: none;
    }
  }
}
#contactPage{
  position: relative;
  overflow: hidden;
  background-color: transparent;
  padding-top: 35vh;
  padding-bottom: 10vh;
  @media(max-width: 1000px){
      padding-top: 45vh;
      flex: 1;
      justify-content: left;
  }
  .form-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 25vw;
      @media (max-width: 1000px) {
          margin: 0 10vw;
      }
      h2{
          margin: 0;
          color: white;
          font-style: normal;
          font-size: 2.5rem;
          font-weight: 600;
          line-height: 2.375rem;
          font-family: "Open Sans", sans-serif;
          text-align: center;
          @media(max-width: 1000px){
              font-size: 2rem;
          }
      }
      p{
          margin-bottom: 2.25rem;
          font-size: 1.25rem;
          line-height: 1.75rem;
          color: silver;
          font-style: normal;
          font-weight: 400;
          font-family: "Open Sans", sans-serif;
          text-align: center;
          @media(max-width: 1000px){
              font-size: 1rem;
          }
      }
      form{
          padding: 1rem;
          width: 100%;
          .form-group {
              margin-bottom: 1.25rem;
              width: 100%;
              .form-control-input{
                  padding: 0.5rem 1rem;
                  box-sizing: border-box;
                  width: 100%;
                  border: 1px solid #cbcbd1;
                  border-radius: 4px;
                  color: silver;
              }


              .form-control-textarea {
                  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI";
                  padding: 1rem;
                  min-height: 15vh;
                  box-sizing: border-box;
                  width: 100%;
                  border: 1px solid #cbcbd1;
                  border-radius: 4px;
                  color: silver;
              }

              .form-control-submit-button {
                  width: 100%;
                  padding: 1rem;
                  border: 1px solid silver;
                  border-radius: 32px;
                  background-color: transparent;
                  color: white;
                  cursor: pointer;
                  font-size: 1rem;
                  font-weight: bold;
                  transition: all 0.2s;
              }
              .form-control-submit-button:hover {
                  border: 1px solid silver;
                  background-color: transparent;
                  color: white;
                  box-shadow: 0 0 10px #cbcbd1;
              }
          }
      }
  }
}
.hidden{
  opacity: 0;
}
.right{
  margin-left: auto;
}
.left{
  margin-right: auto;
}
@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-100vh);
  }
};
@keyframes slide-left {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0);
  }
};
@keyframes slide-right {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0);
  }
};
@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}