html, body {
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  overflow-y: scroll;
}

#background {
  height: 100%;
  position: absolute;
}
#background #stars {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1212px 880px #FFF , 710px 1665px #FFF , 103px 1787px #FFF , 1007px 377px #FFF , 43px 1667px #FFF , 577px 1041px #FFF , 1793px 1732px #FFF , 1111px 206px #FFF , 1201px 1177px #FFF , 1667px 872px #FFF , 1813px 866px #FFF , 1472px 1116px #FFF , 67px 1422px #FFF , 1373px 973px #FFF , 321px 1078px #FFF , 1685px 979px #FFF , 1250px 1684px #FFF , 253px 465px #FFF , 1921px 25px #FFF , 698px 1312px #FFF , 1608px 1283px #FFF , 445px 747px #FFF , 898px 1308px #FFF , 1043px 1214px #FFF , 1407px 229px #FFF , 1642px 410px #FFF , 881px 1680px #FFF , 1691px 730px #FFF , 1577px 615px #FFF , 1823px 1019px #FFF , 272px 1834px #FFF , 1820px 114px #FFF , 944px 1801px #FFF , 380px 1341px #FFF , 1574px 1084px #FFF , 1330px 283px #FFF , 1641px 768px #FFF , 1706px 1249px #FFF , 1213px 1870px #FFF , 463px 1600px #FFF , 1032px 1414px #FFF , 1444px 1357px #FFF , 1051px 592px #FFF , 1762px 1500px #FFF , 1591px 108px #FFF , 505px 570px #FFF , 1119px 876px #FFF , 126px 238px #FFF , 596px 784px #FFF , 1173px 1758px #FFF , 1232px 1101px #FFF , 1061px 927px #FFF , 1442px 1795px #FFF , 1035px 19px #FFF , 1349px 137px #FFF , 496px 930px #FFF , 1173px 1936px #FFF , 233px 1284px #FFF , 679px 24px #FFF , 357px 1970px #FFF , 286px 1815px #FFF , 1515px 678px #FFF , 99px 290px #FFF , 120px 96px #FFF , 152px 786px #FFF , 206px 758px #FFF , 686px 764px #FFF , 92px 1220px #FFF , 1983px 96px #FFF , 190px 1886px #FFF , 702px 1862px #FFF , 877px 1049px #FFF , 1504px 1962px #FFF , 731px 103px #FFF , 34px 1397px #FFF , 263px 640px #FFF , 1083px 1738px #FFF , 1728px 1793px #FFF , 82px 815px #FFF , 335px 648px #FFF , 593px 155px #FFF , 562px 447px #FFF , 1290px 1416px #FFF , 669px 1405px #FFF , 1045px 1591px #FFF , 1471px 862px #FFF , 746px 791px #FFF , 691px 205px #FFF , 162px 506px #FFF , 1356px 1654px #FFF , 1574px 1179px #FFF , 261px 495px #FFF , 1572px 975px #FFF , 1288px 830px #FFF , 647px 1983px #FFF , 1992px 804px #FFF , 1181px 1722px #FFF , 666px 1315px #FFF , 1944px 1705px #FFF , 710px 1355px #FFF , 1719px 1239px #FFF , 633px 1628px #FFF , 1972px 570px #FFF , 1944px 1858px #FFF , 15px 1880px #FFF , 964px 1125px #FFF , 1413px 1509px #FFF , 100px 1717px #FFF , 1268px 546px #FFF , 1722px 700px #FFF , 1219px 936px #FFF , 841px 1435px #FFF , 1766px 158px #FFF , 1245px 1290px #FFF , 1438px 1867px #FFF , 1147px 1578px #FFF , 674px 310px #FFF , 615px 994px #FFF , 1243px 1384px #FFF , 402px 710px #FFF , 457px 1230px #FFF , 100px 890px #FFF , 1000px 128px #FFF , 1799px 146px #FFF , 1072px 449px #FFF , 1053px 211px #FFF , 378px 728px #FFF , 497px 412px #FFF , 1281px 1196px #FFF , 508px 215px #FFF , 1933px 701px #FFF , 1500px 938px #FFF , 637px 1741px #FFF , 1331px 1265px #FFF , 1761px 1998px #FFF , 1685px 805px #FFF , 898px 585px #FFF , 1865px 1424px #FFF , 1214px 727px #FFF , 800px 1786px #FFF , 697px 196px #FFF , 1200px 945px #FFF , 1446px 1299px #FFF , 992px 117px #FFF , 342px 801px #FFF , 456px 1202px #FFF , 492px 856px #FFF , 815px 1672px #FFF , 1230px 1074px #FFF , 1805px 1161px #FFF , 1722px 926px #FFF , 108px 1325px #FFF , 1925px 1971px #FFF , 1390px 624px #FFF , 1063px 679px #FFF , 352px 737px #FFF , 1351px 1171px #FFF , 749px 1067px #FFF , 1625px 1166px #FFF , 1277px 1132px #FFF , 1176px 419px #FFF , 1665px 1537px #FFF , 1216px 1338px #FFF , 910px 259px #FFF , 1843px 786px #FFF , 651px 1778px #FFF , 295px 1310px #FFF , 1126px 313px #FFF , 759px 576px #FFF , 1086px 1452px #FFF , 762px 1213px #FFF , 1151px 1177px #FFF , 408px 154px #FFF , 1913px 1242px #FFF , 184px 1721px #FFF , 846px 898px #FFF , 288px 204px #FFF , 189px 1042px #FFF , 902px 124px #FFF , 287px 777px #FFF , 1948px 1870px #FFF , 671px 1966px #FFF , 1490px 1283px #FFF , 327px 1079px #FFF , 31px 1455px #FFF , 1505px 1778px #FFF , 750px 1066px #FFF , 1977px 134px #FFF , 896px 1148px #FFF , 1935px 1127px #FFF , 1703px 582px #FFF , 1302px 659px #FFF , 171px 886px #FFF , 1450px 660px #FFF , 1504px 724px #FFF , 1244px 834px #FFF , 1772px 1115px #FFF , 278px 19px #FFF , 1282px 796px #FFF , 218px 993px #FFF , 83px 675px #FFF , 1831px 1741px #FFF , 1150px 1278px #FFF , 764px 1854px #FFF , 772px 804px #FFF , 870px 255px #FFF , 1385px 568px #FFF , 333px 841px #FFF , 1222px 534px #FFF , 1821px 1127px #FFF , 1205px 994px #FFF , 1428px 947px #FFF , 938px 1544px #FFF , 1419px 19px #FFF , 688px 762px #FFF , 228px 152px #FFF , 1893px 49px #FFF , 407px 477px #FFF , 1351px 1431px #FFF , 1894px 1810px #FFF , 1046px 388px #FFF , 1167px 1264px #FFF , 1199px 371px #FFF , 235px 1422px #FFF , 1492px 1092px #FFF , 24px 848px #FFF , 1446px 332px #FFF , 1856px 1045px #FFF , 242px 281px #FFF , 1354px 618px #FFF , 1547px 1712px #FFF , 1319px 1381px #FFF , 624px 1989px #FFF , 1558px 282px #FFF , 300px 1772px #FFF , 987px 35px #FFF , 1203px 719px #FFF , 1989px 1781px #FFF , 1799px 996px #FFF , 491px 1950px #FFF , 672px 801px #FFF , 1073px 722px #FFF , 335px 1431px #FFF , 1669px 1611px #FFF , 979px 252px #FFF , 1295px 1074px #FFF , 1927px 1650px #FFF , 713px 745px #FFF , 341px 1252px #FFF , 1513px 1744px #FFF , 1868px 1780px #FFF , 307px 1670px #FFF , 1671px 667px #FFF , 452px 824px #FFF , 1830px 1209px #FFF , 1307px 1547px #FFF , 1170px 1182px #FFF , 1498px 1948px #FFF , 340px 1249px #FFF , 576px 698px #FFF , 942px 632px #FFF , 1568px 611px #FFF , 667px 1560px #FFF , 970px 1519px #FFF , 923px 1411px #FFF , 341px 1160px #FFF , 721px 1445px #FFF , 1936px 1474px #FFF , 1167px 1975px #FFF , 1888px 61px #FFF , 653px 950px #FFF , 1018px 1148px #FFF , 1384px 481px #FFF , 1091px 962px #FFF , 253px 1886px #FFF , 1972px 98px #FFF , 626px 1756px #FFF , 80px 1272px #FFF , 1629px 1021px #FFF , 821px 518px #FFF , 740px 874px #FFF , 1037px 1857px #FFF , 527px 1010px #FFF , 472px 1911px #FFF , 1275px 533px #FFF , 1662px 1531px #FFF , 593px 352px #FFF , 866px 296px #FFF , 1890px 911px #FFF , 899px 1403px #FFF , 1893px 183px #FFF , 588px 1057px #FFF , 1768px 1858px #FFF , 1690px 1081px #FFF , 919px 1166px #FFF , 438px 1228px #FFF , 1885px 822px #FFF , 1381px 943px #FFF , 974px 1300px #FFF , 262px 1906px #FFF , 100px 706px #FFF , 228px 1129px #FFF , 118px 1568px #FFF , 859px 836px #FFF , 877px 1209px #FFF , 943px 1787px #FFF , 1165px 1997px #FFF , 262px 757px #FFF , 892px 1560px #FFF , 1303px 151px #FFF , 550px 917px #FFF , 1957px 1114px #FFF , 1850px 1902px #FFF , 198px 1629px #FFF , 846px 66px #FFF , 1501px 1777px #FFF , 858px 1658px #FFF , 1058px 1604px #FFF , 538px 158px #FFF , 1608px 889px #FFF , 821px 1180px #FFF , 1156px 421px #FFF , 838px 779px #FFF , 307px 305px #FFF , 113px 1841px #FFF , 407px 1752px #FFF , 1320px 414px #FFF , 564px 1677px #FFF , 162px 1623px #FFF , 1220px 963px #FFF , 1722px 846px #FFF , 377px 1887px #FFF , 148px 1992px #FFF , 804px 248px #FFF , 1042px 1072px #FFF , 1055px 1151px #FFF , 1578px 1547px #FFF , 929px 799px #FFF , 690px 1536px #FFF , 400px 509px #FFF , 1070px 1863px #FFF , 1395px 75px #FFF , 1974px 419px #FFF , 142px 122px #FFF , 1092px 829px #FFF , 1402px 152px #FFF , 1466px 1072px #FFF , 295px 1255px #FFF , 114px 111px #FFF , 139px 1820px #FFF , 1631px 1015px #FFF , 1232px 759px #FFF , 504px 1261px #FFF , 1824px 1446px #FFF , 1218px 676px #FFF , 912px 1004px #FFF , 788px 851px #FFF , 2px 777px #FFF , 434px 947px #FFF , 1780px 447px #FFF , 1881px 120px #FFF , 1762px 1619px #FFF , 697px 1046px #FFF , 9px 796px #FFF , 518px 1788px #FFF , 1440px 1721px #FFF , 1975px 1646px #FFF , 899px 1687px #FFF , 226px 1610px #FFF , 171px 400px #FFF , 307px 1065px #FFF , 1835px 1183px #FFF , 791px 344px #FFF , 1880px 1635px #FFF , 503px 271px #FFF , 672px 1095px #FFF , 1317px 31px #FFF , 1083px 1271px #FFF , 692px 1913px #FFF , 875px 772px #FFF , 1353px 682px #FFF , 648px 598px #FFF , 1165px 429px #FFF , 877px 574px #FFF , 486px 1258px #FFF , 853px 766px #FFF , 1710px 565px #FFF , 331px 885px #FFF , 1863px 914px #FFF , 107px 1316px #FFF , 1127px 38px #FFF , 1027px 718px #FFF , 1401px 842px #FFF , 1800px 854px #FFF , 757px 620px #FFF , 1236px 855px #FFF , 388px 503px #FFF , 301px 1826px #FFF , 1320px 1317px #FFF , 175px 1482px #FFF , 155px 1810px #FFF , 1961px 675px #FFF , 154px 40px #FFF , 1176px 915px #FFF , 1908px 137px #FFF , 1512px 312px #FFF , 98px 1080px #FFF , 938px 1673px #FFF , 89px 397px #FFF , 1082px 505px #FFF , 237px 1153px #FFF , 1940px 101px #FFF , 1150px 1113px #FFF , 610px 1558px #FFF , 577px 676px #FFF , 138px 195px #FFF , 918px 369px #FFF , 691px 1558px #FFF , 1782px 493px #FFF , 465px 759px #FFF , 1427px 94px #FFF , 1931px 1955px #FFF , 923px 128px #FFF , 223px 421px #FFF , 349px 1906px #FFF , 254px 1145px #FFF , 895px 448px #FFF , 1983px 1843px #FFF , 1549px 1195px #FFF , 1566px 1063px #FFF , 231px 1600px #FFF , 1456px 46px #FFF , 1685px 620px #FFF , 1065px 1092px #FFF , 269px 1514px #FFF , 1412px 1914px #FFF , 1967px 89px #FFF , 1850px 39px #FFF , 409px 157px #FFF , 1374px 1632px #FFF , 188px 105px #FFF , 1717px 1022px #FFF , 60px 1306px #FFF , 240px 922px #FFF , 1096px 104px #FFF , 1623px 417px #FFF , 830px 1917px #FFF , 793px 134px #FFF , 1030px 191px #FFF , 1336px 1420px #FFF , 1013px 1155px #FFF , 1529px 920px #FFF , 1690px 1297px #FFF , 524px 1022px #FFF , 1609px 84px #FFF , 82px 1356px #FFF , 1630px 322px #FFF , 747px 522px #FFF , 1664px 926px #FFF , 259px 1455px #FFF , 951px 1424px #FFF , 948px 289px #FFF , 1968px 1417px #FFF , 822px 499px #FFF , 1528px 20px #FFF , 703px 926px #FFF , 1507px 1325px #FFF , 230px 1163px #FFF , 253px 236px #FFF , 867px 1090px #FFF , 1698px 1787px #FFF , 616px 1751px #FFF , 1249px 1408px #FFF , 1206px 1311px #FFF , 1019px 1397px #FFF , 1461px 1099px #FFF , 1604px 1218px #FFF , 982px 1618px #FFF , 1758px 1823px #FFF , 1362px 25px #FFF , 1601px 1865px #FFF , 249px 1292px #FFF , 1446px 1004px #FFF , 1050px 1495px #FFF , 652px 880px #FFF , 1240px 5px #FFF , 35px 221px #FFF , 1839px 1768px #FFF , 775px 1408px #FFF , 74px 1914px #FFF , 1100px 77px #FFF , 281px 1831px #FFF , 361px 1972px #FFF , 1165px 176px #FFF , 1129px 1131px #FFF , 1894px 1014px #FFF , 1844px 423px #FFF , 1247px 1393px #FFF , 44px 1763px #FFF , 1609px 729px #FFF , 1185px 1185px #FFF , 1561px 1121px #FFF , 1808px 1441px #FFF , 1952px 1051px #FFF , 123px 1355px #FFF , 356px 1363px #FFF , 509px 1282px #FFF , 1116px 447px #FFF , 1467px 23px #FFF , 402px 477px #FFF , 972px 1711px #FFF , 502px 366px #FFF , 140px 1396px #FFF , 1194px 950px #FFF , 1520px 1342px #FFF , 1701px 768px #FFF , 508px 647px #FFF , 1032px 1344px #FFF , 86px 1463px #FFF , 604px 982px #FFF , 584px 1864px #FFF , 1052px 288px #FFF , 183px 858px #FFF , 1617px 451px #FFF , 1194px 813px #FFF , 998px 1533px #FFF , 77px 1577px #FFF , 678px 734px #FFF , 330px 1164px #FFF , 414px 893px #FFF , 1642px 557px #FFF , 1467px 1620px #FFF , 1915px 1419px #FFF , 1605px 744px #FFF , 932px 1839px #FFF , 1719px 1296px #FFF , 1994px 1689px #FFF , 1932px 387px #FFF , 1356px 941px #FFF , 419px 1721px #FFF , 224px 1526px #FFF , 1715px 643px #FFF , 1128px 439px #FFF , 1147px 1764px #FFF , 1351px 1470px #FFF , 1628px 387px #FFF , 580px 1184px #FFF , 247px 347px #FFF , 1750px 1304px #FFF , 1568px 345px #FFF , 1156px 1813px #FFF , 1817px 906px #FFF , 1023px 776px #FFF , 88px 848px #FFF , 340px 5px #FFF , 1163px 1004px #FFF , 1460px 1446px #FFF , 1381px 1761px #FFF , 438px 1974px #FFF , 1599px 1205px #FFF , 876px 300px #FFF , 1115px 1849px #FFF , 225px 930px #FFF , 1023px 1180px #FFF , 661px 1098px #FFF , 1236px 868px #FFF , 1573px 920px #FFF , 31px 546px #FFF , 687px 1096px #FFF , 44px 1127px #FFF , 1818px 334px #FFF , 676px 400px #FFF , 716px 1698px #FFF , 811px 908px #FFF , 883px 1298px #FFF , 654px 1370px #FFF , 1789px 1897px #FFF , 968px 1697px #FFF , 76px 607px #FFF , 135px 1902px #FFF , 1445px 959px #FFF , 1016px 1736px #FFF , 981px 1722px #FFF , 76px 1876px #FFF , 641px 717px #FFF , 1796px 1449px #FFF , 1510px 918px #FFF , 417px 818px #FFF , 1645px 749px #FFF , 675px 14px #FFF , 1413px 420px #FFF , 872px 1922px #FFF , 1522px 1597px #FFF , 1929px 575px #FFF , 865px 1406px #FFF , 1472px 930px #FFF , 230px 677px #FFF , 145px 190px #FFF , 1595px 871px #FFF , 954px 1061px #FFF , 1253px 152px #FFF , 286px 531px #FFF , 573px 1065px #FFF , 1615px 672px #FFF , 1710px 254px #FFF , 1899px 252px #FFF , 887px 912px #FFF , 745px 1257px #FFF , 190px 422px #FFF , 1632px 512px #FFF , 1213px 1954px #FFF , 1968px 362px #FFF , 1887px 1062px #FFF , 459px 120px #FFF , 246px 285px #FFF , 1144px 1290px #FFF , 1310px 21px #FFF , 1425px 567px #FFF , 440px 306px #FFF , 911px 1511px #FFF , 1616px 609px #FFF , 171px 671px #FFF , 1012px 734px #FFF , 1780px 1977px #FFF , 172px 403px #FFF , 1576px 1931px #FFF , 517px 73px #FFF , 71px 950px #FFF , 770px 253px #FFF , 713px 62px #FFF , 761px 1023px #FFF , 1763px 1364px #FFF , 743px 1456px #FFF , 1586px 92px #FFF , 1500px 633px #FFF , 830px 237px #FFF , 408px 367px #FFF , 766px 824px #FFF , 1746px 521px #FFF , 868px 307px #FFF , 271px 159px #FFF , 1754px 947px #FFF , 571px 1494px #FFF , 1493px 46px #FFF , 816px 1877px #FFF , 1248px 1815px #FFF , 742px 802px #FFF , 1480px 1935px #FFF , 1754px 1582px #FFF , 1330px 173px #FFF , 823px 25px #FFF , 123px 1088px #FFF , 144px 67px #FFF , 344px 1758px #FFF , 608px 1463px #FFF , 1747px 1197px #FFF , 818px 320px #FFF , 167px 1170px #FFF , 1510px 6px #FFF , 1174px 96px #FFF , 1952px 127px #FFF , 971px 1407px #FFF , 786px 934px #FFF , 681px 1102px #FFF , 425px 1050px #FFF , 17px 1709px #FFF , 655px 249px #FFF , 1321px 1584px #FFF , 1890px 356px #FFF , 486px 415px #FFF , 840px 187px #FFF , 683px 480px #FFF , 1596px 1915px #FFF , 948px 1477px #FFF , 738px 1923px #FFF , 843px 319px #FFF , 852px 826px #FFF , 774px 1983px #FFF , 1311px 470px #FFF , 1164px 598px #FFF , 684px 1114px #FFF , 1856px 827px #FFF , 1413px 465px #FFF , 333px 1830px #FFF , 1075px 785px #FFF , 1321px 472px #FFF , 1821px 1200px #FFF , 1810px 1191px #FFF , 931px 1136px #FFF , 337px 1295px #FFF , 1731px 509px #FFF , 226px 47px #FFF , 1514px 1827px #FFF , 1748px 202px #FFF , 1857px 962px #FFF , 1522px 152px #FFF , 985px 1967px #FFF , 1500px 791px #FFF , 520px 1000px #FFF , 1805px 1636px #FFF;
  animation: animStar 50s infinite linear;
}
#background #stars:after {
  content: " ";
  position: absolute;
  top: 100vh;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1212px 880px #FFF , 710px 1665px #FFF , 103px 1787px #FFF , 1007px 377px #FFF , 43px 1667px #FFF , 577px 1041px #FFF , 1793px 1732px #FFF , 1111px 206px #FFF , 1201px 1177px #FFF , 1667px 872px #FFF , 1813px 866px #FFF , 1472px 1116px #FFF , 67px 1422px #FFF , 1373px 973px #FFF , 321px 1078px #FFF , 1685px 979px #FFF , 1250px 1684px #FFF , 253px 465px #FFF , 1921px 25px #FFF , 698px 1312px #FFF , 1608px 1283px #FFF , 445px 747px #FFF , 898px 1308px #FFF , 1043px 1214px #FFF , 1407px 229px #FFF , 1642px 410px #FFF , 881px 1680px #FFF , 1691px 730px #FFF , 1577px 615px #FFF , 1823px 1019px #FFF , 272px 1834px #FFF , 1820px 114px #FFF , 944px 1801px #FFF , 380px 1341px #FFF , 1574px 1084px #FFF , 1330px 283px #FFF , 1641px 768px #FFF , 1706px 1249px #FFF , 1213px 1870px #FFF , 463px 1600px #FFF , 1032px 1414px #FFF , 1444px 1357px #FFF , 1051px 592px #FFF , 1762px 1500px #FFF , 1591px 108px #FFF , 505px 570px #FFF , 1119px 876px #FFF , 126px 238px #FFF , 596px 784px #FFF , 1173px 1758px #FFF , 1232px 1101px #FFF , 1061px 927px #FFF , 1442px 1795px #FFF , 1035px 19px #FFF , 1349px 137px #FFF , 496px 930px #FFF , 1173px 1936px #FFF , 233px 1284px #FFF , 679px 24px #FFF , 357px 1970px #FFF , 286px 1815px #FFF , 1515px 678px #FFF , 99px 290px #FFF , 120px 96px #FFF , 152px 786px #FFF , 206px 758px #FFF , 686px 764px #FFF , 92px 1220px #FFF , 1983px 96px #FFF , 190px 1886px #FFF , 702px 1862px #FFF , 877px 1049px #FFF , 1504px 1962px #FFF , 731px 103px #FFF , 34px 1397px #FFF , 263px 640px #FFF , 1083px 1738px #FFF , 1728px 1793px #FFF , 82px 815px #FFF , 335px 648px #FFF , 593px 155px #FFF , 562px 447px #FFF , 1290px 1416px #FFF , 669px 1405px #FFF , 1045px 1591px #FFF , 1471px 862px #FFF , 746px 791px #FFF , 691px 205px #FFF , 162px 506px #FFF , 1356px 1654px #FFF , 1574px 1179px #FFF , 261px 495px #FFF , 1572px 975px #FFF , 1288px 830px #FFF , 647px 1983px #FFF , 1992px 804px #FFF , 1181px 1722px #FFF , 666px 1315px #FFF , 1944px 1705px #FFF , 710px 1355px #FFF , 1719px 1239px #FFF , 633px 1628px #FFF , 1972px 570px #FFF , 1944px 1858px #FFF , 15px 1880px #FFF , 964px 1125px #FFF , 1413px 1509px #FFF , 100px 1717px #FFF , 1268px 546px #FFF , 1722px 700px #FFF , 1219px 936px #FFF , 841px 1435px #FFF , 1766px 158px #FFF , 1245px 1290px #FFF , 1438px 1867px #FFF , 1147px 1578px #FFF , 674px 310px #FFF , 615px 994px #FFF , 1243px 1384px #FFF , 402px 710px #FFF , 457px 1230px #FFF , 100px 890px #FFF , 1000px 128px #FFF , 1799px 146px #FFF , 1072px 449px #FFF , 1053px 211px #FFF , 378px 728px #FFF , 497px 412px #FFF , 1281px 1196px #FFF , 508px 215px #FFF , 1933px 701px #FFF , 1500px 938px #FFF , 637px 1741px #FFF , 1331px 1265px #FFF , 1761px 1998px #FFF , 1685px 805px #FFF , 898px 585px #FFF , 1865px 1424px #FFF , 1214px 727px #FFF , 800px 1786px #FFF , 697px 196px #FFF , 1200px 945px #FFF , 1446px 1299px #FFF , 992px 117px #FFF , 342px 801px #FFF , 456px 1202px #FFF , 492px 856px #FFF , 815px 1672px #FFF , 1230px 1074px #FFF , 1805px 1161px #FFF , 1722px 926px #FFF , 108px 1325px #FFF , 1925px 1971px #FFF , 1390px 624px #FFF , 1063px 679px #FFF , 352px 737px #FFF , 1351px 1171px #FFF , 749px 1067px #FFF , 1625px 1166px #FFF , 1277px 1132px #FFF , 1176px 419px #FFF , 1665px 1537px #FFF , 1216px 1338px #FFF , 910px 259px #FFF , 1843px 786px #FFF , 651px 1778px #FFF , 295px 1310px #FFF , 1126px 313px #FFF , 759px 576px #FFF , 1086px 1452px #FFF , 762px 1213px #FFF , 1151px 1177px #FFF , 408px 154px #FFF , 1913px 1242px #FFF , 184px 1721px #FFF , 846px 898px #FFF , 288px 204px #FFF , 189px 1042px #FFF , 902px 124px #FFF , 287px 777px #FFF , 1948px 1870px #FFF , 671px 1966px #FFF , 1490px 1283px #FFF , 327px 1079px #FFF , 31px 1455px #FFF , 1505px 1778px #FFF , 750px 1066px #FFF , 1977px 134px #FFF , 896px 1148px #FFF , 1935px 1127px #FFF , 1703px 582px #FFF , 1302px 659px #FFF , 171px 886px #FFF , 1450px 660px #FFF , 1504px 724px #FFF , 1244px 834px #FFF , 1772px 1115px #FFF , 278px 19px #FFF , 1282px 796px #FFF , 218px 993px #FFF , 83px 675px #FFF , 1831px 1741px #FFF , 1150px 1278px #FFF , 764px 1854px #FFF , 772px 804px #FFF , 870px 255px #FFF , 1385px 568px #FFF , 333px 841px #FFF , 1222px 534px #FFF , 1821px 1127px #FFF , 1205px 994px #FFF , 1428px 947px #FFF , 938px 1544px #FFF , 1419px 19px #FFF , 688px 762px #FFF , 228px 152px #FFF , 1893px 49px #FFF , 407px 477px #FFF , 1351px 1431px #FFF , 1894px 1810px #FFF , 1046px 388px #FFF , 1167px 1264px #FFF , 1199px 371px #FFF , 235px 1422px #FFF , 1492px 1092px #FFF , 24px 848px #FFF , 1446px 332px #FFF , 1856px 1045px #FFF , 242px 281px #FFF , 1354px 618px #FFF , 1547px 1712px #FFF , 1319px 1381px #FFF , 624px 1989px #FFF , 1558px 282px #FFF , 300px 1772px #FFF , 987px 35px #FFF , 1203px 719px #FFF , 1989px 1781px #FFF , 1799px 996px #FFF , 491px 1950px #FFF , 672px 801px #FFF , 1073px 722px #FFF , 335px 1431px #FFF , 1669px 1611px #FFF , 979px 252px #FFF , 1295px 1074px #FFF , 1927px 1650px #FFF , 713px 745px #FFF , 341px 1252px #FFF , 1513px 1744px #FFF , 1868px 1780px #FFF , 307px 1670px #FFF , 1671px 667px #FFF , 452px 824px #FFF , 1830px 1209px #FFF , 1307px 1547px #FFF , 1170px 1182px #FFF , 1498px 1948px #FFF , 340px 1249px #FFF , 576px 698px #FFF , 942px 632px #FFF , 1568px 611px #FFF , 667px 1560px #FFF , 970px 1519px #FFF , 923px 1411px #FFF , 341px 1160px #FFF , 721px 1445px #FFF , 1936px 1474px #FFF , 1167px 1975px #FFF , 1888px 61px #FFF , 653px 950px #FFF , 1018px 1148px #FFF , 1384px 481px #FFF , 1091px 962px #FFF , 253px 1886px #FFF , 1972px 98px #FFF , 626px 1756px #FFF , 80px 1272px #FFF , 1629px 1021px #FFF , 821px 518px #FFF , 740px 874px #FFF , 1037px 1857px #FFF , 527px 1010px #FFF , 472px 1911px #FFF , 1275px 533px #FFF , 1662px 1531px #FFF , 593px 352px #FFF , 866px 296px #FFF , 1890px 911px #FFF , 899px 1403px #FFF , 1893px 183px #FFF , 588px 1057px #FFF , 1768px 1858px #FFF , 1690px 1081px #FFF , 919px 1166px #FFF , 438px 1228px #FFF , 1885px 822px #FFF , 1381px 943px #FFF , 974px 1300px #FFF , 262px 1906px #FFF , 100px 706px #FFF , 228px 1129px #FFF , 118px 1568px #FFF , 859px 836px #FFF , 877px 1209px #FFF , 943px 1787px #FFF , 1165px 1997px #FFF , 262px 757px #FFF , 892px 1560px #FFF , 1303px 151px #FFF , 550px 917px #FFF , 1957px 1114px #FFF , 1850px 1902px #FFF , 198px 1629px #FFF , 846px 66px #FFF , 1501px 1777px #FFF , 858px 1658px #FFF , 1058px 1604px #FFF , 538px 158px #FFF , 1608px 889px #FFF , 821px 1180px #FFF , 1156px 421px #FFF , 838px 779px #FFF , 307px 305px #FFF , 113px 1841px #FFF , 407px 1752px #FFF , 1320px 414px #FFF , 564px 1677px #FFF , 162px 1623px #FFF , 1220px 963px #FFF , 1722px 846px #FFF , 377px 1887px #FFF , 148px 1992px #FFF , 804px 248px #FFF , 1042px 1072px #FFF , 1055px 1151px #FFF , 1578px 1547px #FFF , 929px 799px #FFF , 690px 1536px #FFF , 400px 509px #FFF , 1070px 1863px #FFF , 1395px 75px #FFF , 1974px 419px #FFF , 142px 122px #FFF , 1092px 829px #FFF , 1402px 152px #FFF , 1466px 1072px #FFF , 295px 1255px #FFF , 114px 111px #FFF , 139px 1820px #FFF , 1631px 1015px #FFF , 1232px 759px #FFF , 504px 1261px #FFF , 1824px 1446px #FFF , 1218px 676px #FFF , 912px 1004px #FFF , 788px 851px #FFF , 2px 777px #FFF , 434px 947px #FFF , 1780px 447px #FFF , 1881px 120px #FFF , 1762px 1619px #FFF , 697px 1046px #FFF , 9px 796px #FFF , 518px 1788px #FFF , 1440px 1721px #FFF , 1975px 1646px #FFF , 899px 1687px #FFF , 226px 1610px #FFF , 171px 400px #FFF , 307px 1065px #FFF , 1835px 1183px #FFF , 791px 344px #FFF , 1880px 1635px #FFF , 503px 271px #FFF , 672px 1095px #FFF , 1317px 31px #FFF , 1083px 1271px #FFF , 692px 1913px #FFF , 875px 772px #FFF , 1353px 682px #FFF , 648px 598px #FFF , 1165px 429px #FFF , 877px 574px #FFF , 486px 1258px #FFF , 853px 766px #FFF , 1710px 565px #FFF , 331px 885px #FFF , 1863px 914px #FFF , 107px 1316px #FFF , 1127px 38px #FFF , 1027px 718px #FFF , 1401px 842px #FFF , 1800px 854px #FFF , 757px 620px #FFF , 1236px 855px #FFF , 388px 503px #FFF , 301px 1826px #FFF , 1320px 1317px #FFF , 175px 1482px #FFF , 155px 1810px #FFF , 1961px 675px #FFF , 154px 40px #FFF , 1176px 915px #FFF , 1908px 137px #FFF , 1512px 312px #FFF , 98px 1080px #FFF , 938px 1673px #FFF , 89px 397px #FFF , 1082px 505px #FFF , 237px 1153px #FFF , 1940px 101px #FFF , 1150px 1113px #FFF , 610px 1558px #FFF , 577px 676px #FFF , 138px 195px #FFF , 918px 369px #FFF , 691px 1558px #FFF , 1782px 493px #FFF , 465px 759px #FFF , 1427px 94px #FFF , 1931px 1955px #FFF , 923px 128px #FFF , 223px 421px #FFF , 349px 1906px #FFF , 254px 1145px #FFF , 895px 448px #FFF , 1983px 1843px #FFF , 1549px 1195px #FFF , 1566px 1063px #FFF , 231px 1600px #FFF , 1456px 46px #FFF , 1685px 620px #FFF , 1065px 1092px #FFF , 269px 1514px #FFF , 1412px 1914px #FFF , 1967px 89px #FFF , 1850px 39px #FFF , 409px 157px #FFF , 1374px 1632px #FFF , 188px 105px #FFF , 1717px 1022px #FFF , 60px 1306px #FFF , 240px 922px #FFF , 1096px 104px #FFF , 1623px 417px #FFF , 830px 1917px #FFF , 793px 134px #FFF , 1030px 191px #FFF , 1336px 1420px #FFF , 1013px 1155px #FFF , 1529px 920px #FFF , 1690px 1297px #FFF , 524px 1022px #FFF , 1609px 84px #FFF , 82px 1356px #FFF , 1630px 322px #FFF , 747px 522px #FFF , 1664px 926px #FFF , 259px 1455px #FFF , 951px 1424px #FFF , 948px 289px #FFF , 1968px 1417px #FFF , 822px 499px #FFF , 1528px 20px #FFF , 703px 926px #FFF , 1507px 1325px #FFF , 230px 1163px #FFF , 253px 236px #FFF , 867px 1090px #FFF , 1698px 1787px #FFF , 616px 1751px #FFF , 1249px 1408px #FFF , 1206px 1311px #FFF , 1019px 1397px #FFF , 1461px 1099px #FFF , 1604px 1218px #FFF , 982px 1618px #FFF , 1758px 1823px #FFF , 1362px 25px #FFF , 1601px 1865px #FFF , 249px 1292px #FFF , 1446px 1004px #FFF , 1050px 1495px #FFF , 652px 880px #FFF , 1240px 5px #FFF , 35px 221px #FFF , 1839px 1768px #FFF , 775px 1408px #FFF , 74px 1914px #FFF , 1100px 77px #FFF , 281px 1831px #FFF , 361px 1972px #FFF , 1165px 176px #FFF , 1129px 1131px #FFF , 1894px 1014px #FFF , 1844px 423px #FFF , 1247px 1393px #FFF , 44px 1763px #FFF , 1609px 729px #FFF , 1185px 1185px #FFF , 1561px 1121px #FFF , 1808px 1441px #FFF , 1952px 1051px #FFF , 123px 1355px #FFF , 356px 1363px #FFF , 509px 1282px #FFF , 1116px 447px #FFF , 1467px 23px #FFF , 402px 477px #FFF , 972px 1711px #FFF , 502px 366px #FFF , 140px 1396px #FFF , 1194px 950px #FFF , 1520px 1342px #FFF , 1701px 768px #FFF , 508px 647px #FFF , 1032px 1344px #FFF , 86px 1463px #FFF , 604px 982px #FFF , 584px 1864px #FFF , 1052px 288px #FFF , 183px 858px #FFF , 1617px 451px #FFF , 1194px 813px #FFF , 998px 1533px #FFF , 77px 1577px #FFF , 678px 734px #FFF , 330px 1164px #FFF , 414px 893px #FFF , 1642px 557px #FFF , 1467px 1620px #FFF , 1915px 1419px #FFF , 1605px 744px #FFF , 932px 1839px #FFF , 1719px 1296px #FFF , 1994px 1689px #FFF , 1932px 387px #FFF , 1356px 941px #FFF , 419px 1721px #FFF , 224px 1526px #FFF , 1715px 643px #FFF , 1128px 439px #FFF , 1147px 1764px #FFF , 1351px 1470px #FFF , 1628px 387px #FFF , 580px 1184px #FFF , 247px 347px #FFF , 1750px 1304px #FFF , 1568px 345px #FFF , 1156px 1813px #FFF , 1817px 906px #FFF , 1023px 776px #FFF , 88px 848px #FFF , 340px 5px #FFF , 1163px 1004px #FFF , 1460px 1446px #FFF , 1381px 1761px #FFF , 438px 1974px #FFF , 1599px 1205px #FFF , 876px 300px #FFF , 1115px 1849px #FFF , 225px 930px #FFF , 1023px 1180px #FFF , 661px 1098px #FFF , 1236px 868px #FFF , 1573px 920px #FFF , 31px 546px #FFF , 687px 1096px #FFF , 44px 1127px #FFF , 1818px 334px #FFF , 676px 400px #FFF , 716px 1698px #FFF , 811px 908px #FFF , 883px 1298px #FFF , 654px 1370px #FFF , 1789px 1897px #FFF , 968px 1697px #FFF , 76px 607px #FFF , 135px 1902px #FFF , 1445px 959px #FFF , 1016px 1736px #FFF , 981px 1722px #FFF , 76px 1876px #FFF , 641px 717px #FFF , 1796px 1449px #FFF , 1510px 918px #FFF , 417px 818px #FFF , 1645px 749px #FFF , 675px 14px #FFF , 1413px 420px #FFF , 872px 1922px #FFF , 1522px 1597px #FFF , 1929px 575px #FFF , 865px 1406px #FFF , 1472px 930px #FFF , 230px 677px #FFF , 145px 190px #FFF , 1595px 871px #FFF , 954px 1061px #FFF , 1253px 152px #FFF , 286px 531px #FFF , 573px 1065px #FFF , 1615px 672px #FFF , 1710px 254px #FFF , 1899px 252px #FFF , 887px 912px #FFF , 745px 1257px #FFF , 190px 422px #FFF , 1632px 512px #FFF , 1213px 1954px #FFF , 1968px 362px #FFF , 1887px 1062px #FFF , 459px 120px #FFF , 246px 285px #FFF , 1144px 1290px #FFF , 1310px 21px #FFF , 1425px 567px #FFF , 440px 306px #FFF , 911px 1511px #FFF , 1616px 609px #FFF , 171px 671px #FFF , 1012px 734px #FFF , 1780px 1977px #FFF , 172px 403px #FFF , 1576px 1931px #FFF , 517px 73px #FFF , 71px 950px #FFF , 770px 253px #FFF , 713px 62px #FFF , 761px 1023px #FFF , 1763px 1364px #FFF , 743px 1456px #FFF , 1586px 92px #FFF , 1500px 633px #FFF , 830px 237px #FFF , 408px 367px #FFF , 766px 824px #FFF , 1746px 521px #FFF , 868px 307px #FFF , 271px 159px #FFF , 1754px 947px #FFF , 571px 1494px #FFF , 1493px 46px #FFF , 816px 1877px #FFF , 1248px 1815px #FFF , 742px 802px #FFF , 1480px 1935px #FFF , 1754px 1582px #FFF , 1330px 173px #FFF , 823px 25px #FFF , 123px 1088px #FFF , 144px 67px #FFF , 344px 1758px #FFF , 608px 1463px #FFF , 1747px 1197px #FFF , 818px 320px #FFF , 167px 1170px #FFF , 1510px 6px #FFF , 1174px 96px #FFF , 1952px 127px #FFF , 971px 1407px #FFF , 786px 934px #FFF , 681px 1102px #FFF , 425px 1050px #FFF , 17px 1709px #FFF , 655px 249px #FFF , 1321px 1584px #FFF , 1890px 356px #FFF , 486px 415px #FFF , 840px 187px #FFF , 683px 480px #FFF , 1596px 1915px #FFF , 948px 1477px #FFF , 738px 1923px #FFF , 843px 319px #FFF , 852px 826px #FFF , 774px 1983px #FFF , 1311px 470px #FFF , 1164px 598px #FFF , 684px 1114px #FFF , 1856px 827px #FFF , 1413px 465px #FFF , 333px 1830px #FFF , 1075px 785px #FFF , 1321px 472px #FFF , 1821px 1200px #FFF , 1810px 1191px #FFF , 931px 1136px #FFF , 337px 1295px #FFF , 1731px 509px #FFF , 226px 47px #FFF , 1514px 1827px #FFF , 1748px 202px #FFF , 1857px 962px #FFF , 1522px 152px #FFF , 985px 1967px #FFF , 1500px 791px #FFF , 520px 1000px #FFF , 1805px 1636px #FFF;
}
#background #stars2 {
  overflow: hidden;
  position: absolute;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1283px 579px #FFF , 403px 572px #FFF , 634px 1974px #FFF , 1218px 1671px #FFF , 831px 983px #FFF , 7px 1771px #FFF , 58px 1843px #FFF , 529px 926px #FFF , 991px 1176px #FFF , 736px 585px #FFF , 44px 8px #FFF , 326px 1130px #FFF , 95px 178px #FFF , 1913px 753px #FFF , 1079px 1600px #FFF , 1336px 1479px #FFF , 1221px 1026px #FFF , 932px 1416px #FFF , 1456px 824px #FFF , 1028px 1770px #FFF , 1633px 1162px #FFF , 1682px 1284px #FFF , 1582px 1871px #FFF , 1080px 708px #FFF , 765px 1170px #FFF , 495px 328px #FFF , 852px 131px #FFF , 657px 1455px #FFF , 1694px 1582px #FFF , 1302px 620px #FFF , 32px 737px #FFF , 1779px 166px #FFF , 938px 661px #FFF , 1535px 1179px #FFF , 1827px 1274px #FFF , 1830px 912px #FFF , 1510px 1092px #FFF , 267px 1116px #FFF , 1831px 191px #FFF , 1372px 387px #FFF , 1128px 1232px #FFF , 591px 545px #FFF , 1959px 533px #FFF , 1475px 876px #FFF , 1212px 1981px #FFF , 1074px 1650px #FFF , 120px 421px #FFF , 1612px 854px #FFF , 1214px 1235px #FFF , 1397px 303px #FFF , 152px 542px #FFF , 1988px 1271px #FFF , 378px 606px #FFF , 84px 27px #FFF , 817px 1047px #FFF , 1769px 1874px #FFF , 1276px 190px #FFF , 138px 949px #FFF , 1685px 1735px #FFF , 180px 1134px #FFF , 536px 191px #FFF , 1129px 1043px #FFF , 261px 1330px #FFF , 37px 294px #FFF , 22px 404px #FFF , 1554px 458px #FFF , 952px 1547px #FFF , 1753px 242px #FFF , 1394px 70px #FFF , 1327px 1805px #FFF , 505px 454px #FFF , 1103px 999px #FFF , 1549px 1282px #FFF , 1060px 588px #FFF , 34px 1126px #FFF , 6px 1328px #FFF , 1504px 1143px #FFF , 1525px 768px #FFF , 921px 1546px #FFF , 973px 933px #FFF , 693px 484px #FFF , 944px 362px #FFF , 1740px 963px #FFF , 373px 1050px #FFF , 1447px 1944px #FFF , 830px 1588px #FFF , 1312px 934px #FFF , 503px 239px #FFF , 1889px 1006px #FFF , 1552px 1757px #FFF , 477px 1308px #FFF , 1030px 1522px #FFF , 1528px 1255px #FFF , 1215px 295px #FFF , 1557px 1860px #FFF , 1392px 1282px #FFF , 1387px 1876px #FFF , 101px 604px #FFF , 1900px 1261px #FFF , 1517px 158px #FFF , 1457px 981px #FFF , 994px 1628px #FFF , 1887px 1595px #FFF , 772px 1567px #FFF , 1636px 1215px #FFF , 1986px 1323px #FFF , 977px 1992px #FFF , 842px 267px #FFF , 831px 1860px #FFF , 432px 887px #FFF , 1155px 547px #FFF , 1965px 129px #FFF , 548px 238px #FFF , 934px 885px #FFF , 1553px 1757px #FFF , 1602px 840px #FFF , 189px 1189px #FFF , 965px 554px #FFF , 1584px 587px #FFF , 678px 227px #FFF , 709px 1131px #FFF , 1226px 1958px #FFF , 819px 245px #FFF , 835px 1812px #FFF , 720px 1191px #FFF , 812px 1889px #FFF , 1913px 1878px #FFF , 1385px 1737px #FFF , 851px 1512px #FFF , 824px 1075px #FFF , 448px 819px #FFF , 16px 624px #FFF , 1688px 122px #FFF , 463px 1952px #FFF , 174px 1765px #FFF , 1473px 1014px #FFF , 1435px 321px #FFF , 1178px 1240px #FFF , 1088px 1502px #FFF , 466px 270px #FFF , 1449px 1720px #FFF , 1538px 721px #FFF , 1419px 1983px #FFF , 1366px 1943px #FFF , 268px 368px #FFF , 1998px 1846px #FFF , 311px 921px #FFF , 1101px 1265px #FFF , 733px 1638px #FFF , 1670px 1290px #FFF , 706px 985px #FFF , 1915px 1108px #FFF , 825px 1325px #FFF , 653px 1277px #FFF , 1659px 796px #FFF , 524px 960px #FFF , 435px 861px #FFF , 1136px 1413px #FFF , 1813px 1316px #FFF , 47px 323px #FFF , 555px 822px #FFF , 1520px 1529px #FFF , 1802px 1549px #FFF , 64px 1680px #FFF , 1502px 979px #FFF , 1211px 45px #FFF , 368px 1218px #FFF , 530px 145px #FFF , 349px 1897px #FFF , 424px 173px #FFF , 316px 455px #FFF , 1907px 278px #FFF , 451px 430px #FFF , 109px 485px #FFF , 561px 1056px #FFF , 1927px 843px #FFF , 1435px 1444px #FFF , 1418px 127px #FFF , 1794px 33px #FFF , 1889px 1771px #FFF , 859px 1103px #FFF , 299px 131px #FFF , 897px 1089px #FFF , 568px 807px #FFF , 732px 855px #FFF , 51px 268px #FFF , 1172px 1310px #FFF , 1693px 1815px #FFF , 526px 446px #FFF , 1789px 127px #FFF , 237px 1077px #FFF , 1911px 132px #FFF , 1013px 1688px #FFF , 209px 1898px #FFF , 1000px 1437px #FFF , 929px 1484px #FFF , 1901px 1371px #FFF , 496px 12px #FFF , 317px 1451px #FFF , 988px 1163px #FFF;
  animation: animStar 100s infinite linear;
}
#background #stars2:after {
  content: " ";
  position: absolute;
  top: 100vh;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1283px 579px #FFF , 403px 572px #FFF , 634px 1974px #FFF , 1218px 1671px #FFF , 831px 983px #FFF , 7px 1771px #FFF , 58px 1843px #FFF , 529px 926px #FFF , 991px 1176px #FFF , 736px 585px #FFF , 44px 8px #FFF , 326px 1130px #FFF , 95px 178px #FFF , 1913px 753px #FFF , 1079px 1600px #FFF , 1336px 1479px #FFF , 1221px 1026px #FFF , 932px 1416px #FFF , 1456px 824px #FFF , 1028px 1770px #FFF , 1633px 1162px #FFF , 1682px 1284px #FFF , 1582px 1871px #FFF , 1080px 708px #FFF , 765px 1170px #FFF , 495px 328px #FFF , 852px 131px #FFF , 657px 1455px #FFF , 1694px 1582px #FFF , 1302px 620px #FFF , 32px 737px #FFF , 1779px 166px #FFF , 938px 661px #FFF , 1535px 1179px #FFF , 1827px 1274px #FFF , 1830px 912px #FFF , 1510px 1092px #FFF , 267px 1116px #FFF , 1831px 191px #FFF , 1372px 387px #FFF , 1128px 1232px #FFF , 591px 545px #FFF , 1959px 533px #FFF , 1475px 876px #FFF , 1212px 1981px #FFF , 1074px 1650px #FFF , 120px 421px #FFF , 1612px 854px #FFF , 1214px 1235px #FFF , 1397px 303px #FFF , 152px 542px #FFF , 1988px 1271px #FFF , 378px 606px #FFF , 84px 27px #FFF , 817px 1047px #FFF , 1769px 1874px #FFF , 1276px 190px #FFF , 138px 949px #FFF , 1685px 1735px #FFF , 180px 1134px #FFF , 536px 191px #FFF , 1129px 1043px #FFF , 261px 1330px #FFF , 37px 294px #FFF , 22px 404px #FFF , 1554px 458px #FFF , 952px 1547px #FFF , 1753px 242px #FFF , 1394px 70px #FFF , 1327px 1805px #FFF , 505px 454px #FFF , 1103px 999px #FFF , 1549px 1282px #FFF , 1060px 588px #FFF , 34px 1126px #FFF , 6px 1328px #FFF , 1504px 1143px #FFF , 1525px 768px #FFF , 921px 1546px #FFF , 973px 933px #FFF , 693px 484px #FFF , 944px 362px #FFF , 1740px 963px #FFF , 373px 1050px #FFF , 1447px 1944px #FFF , 830px 1588px #FFF , 1312px 934px #FFF , 503px 239px #FFF , 1889px 1006px #FFF , 1552px 1757px #FFF , 477px 1308px #FFF , 1030px 1522px #FFF , 1528px 1255px #FFF , 1215px 295px #FFF , 1557px 1860px #FFF , 1392px 1282px #FFF , 1387px 1876px #FFF , 101px 604px #FFF , 1900px 1261px #FFF , 1517px 158px #FFF , 1457px 981px #FFF , 994px 1628px #FFF , 1887px 1595px #FFF , 772px 1567px #FFF , 1636px 1215px #FFF , 1986px 1323px #FFF , 977px 1992px #FFF , 842px 267px #FFF , 831px 1860px #FFF , 432px 887px #FFF , 1155px 547px #FFF , 1965px 129px #FFF , 548px 238px #FFF , 934px 885px #FFF , 1553px 1757px #FFF , 1602px 840px #FFF , 189px 1189px #FFF , 965px 554px #FFF , 1584px 587px #FFF , 678px 227px #FFF , 709px 1131px #FFF , 1226px 1958px #FFF , 819px 245px #FFF , 835px 1812px #FFF , 720px 1191px #FFF , 812px 1889px #FFF , 1913px 1878px #FFF , 1385px 1737px #FFF , 851px 1512px #FFF , 824px 1075px #FFF , 448px 819px #FFF , 16px 624px #FFF , 1688px 122px #FFF , 463px 1952px #FFF , 174px 1765px #FFF , 1473px 1014px #FFF , 1435px 321px #FFF , 1178px 1240px #FFF , 1088px 1502px #FFF , 466px 270px #FFF , 1449px 1720px #FFF , 1538px 721px #FFF , 1419px 1983px #FFF , 1366px 1943px #FFF , 268px 368px #FFF , 1998px 1846px #FFF , 311px 921px #FFF , 1101px 1265px #FFF , 733px 1638px #FFF , 1670px 1290px #FFF , 706px 985px #FFF , 1915px 1108px #FFF , 825px 1325px #FFF , 653px 1277px #FFF , 1659px 796px #FFF , 524px 960px #FFF , 435px 861px #FFF , 1136px 1413px #FFF , 1813px 1316px #FFF , 47px 323px #FFF , 555px 822px #FFF , 1520px 1529px #FFF , 1802px 1549px #FFF , 64px 1680px #FFF , 1502px 979px #FFF , 1211px 45px #FFF , 368px 1218px #FFF , 530px 145px #FFF , 349px 1897px #FFF , 424px 173px #FFF , 316px 455px #FFF , 1907px 278px #FFF , 451px 430px #FFF , 109px 485px #FFF , 561px 1056px #FFF , 1927px 843px #FFF , 1435px 1444px #FFF , 1418px 127px #FFF , 1794px 33px #FFF , 1889px 1771px #FFF , 859px 1103px #FFF , 299px 131px #FFF , 897px 1089px #FFF , 568px 807px #FFF , 732px 855px #FFF , 51px 268px #FFF , 1172px 1310px #FFF , 1693px 1815px #FFF , 526px 446px #FFF , 1789px 127px #FFF , 237px 1077px #FFF , 1911px 132px #FFF , 1013px 1688px #FFF , 209px 1898px #FFF , 1000px 1437px #FFF , 929px 1484px #FFF , 1901px 1371px #FFF , 496px 12px #FFF , 317px 1451px #FFF , 988px 1163px #FFF;
}
#background #stars3 {
  overflow: hidden;
  position: absolute;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1847px 1209px #FFF , 1298px 745px #FFF , 1435px 561px #FFF , 1815px 645px #FFF , 1426px 1860px #FFF , 737px 1407px #FFF , 829px 1870px #FFF , 1790px 755px #FFF , 756px 1850px #FFF , 778px 645px #FFF , 103px 1599px #FFF , 1101px 1838px #FFF , 214px 1948px #FFF , 837px 211px #FFF , 1048px 566px #FFF , 307px 236px #FFF , 630px 496px #FFF , 1961px 1028px #FFF , 1827px 1710px #FFF , 1181px 1356px #FFF , 639px 715px #FFF , 502px 1010px #FFF , 1781px 1169px #FFF , 990px 892px #FFF , 375px 1426px #FFF , 1710px 683px #FFF , 725px 196px #FFF , 1358px 1247px #FFF , 1430px 703px #FFF , 1507px 925px #FFF , 659px 436px #FFF , 597px 806px #FFF , 668px 926px #FFF , 1056px 1355px #FFF , 1389px 767px #FFF , 1709px 438px #FFF , 1694px 944px #FFF , 210px 1071px #FFF , 488px 1532px #FFF , 1992px 1404px #FFF , 1503px 1915px #FFF , 1408px 1640px #FFF , 1262px 260px #FFF , 633px 1084px #FFF , 1378px 508px #FFF , 221px 1364px #FFF , 1687px 465px #FFF , 848px 1498px #FFF , 679px 500px #FFF , 391px 1032px #FFF , 1267px 795px #FFF , 1351px 1651px #FFF , 1168px 785px #FFF , 762px 1665px #FFF , 1023px 1008px #FFF , 985px 73px #FFF , 358px 1149px #FFF , 355px 385px #FFF , 1780px 368px #FFF , 32px 182px #FFF , 453px 803px #FFF , 1038px 1276px #FFF , 1501px 722px #FFF , 1340px 1416px #FFF , 782px 1932px #FFF , 1050px 859px #FFF , 1514px 1801px #FFF , 1777px 988px #FFF , 606px 555px #FFF , 1050px 1710px #FFF , 1318px 1181px #FFF , 1815px 143px #FFF , 1666px 665px #FFF , 1224px 1564px #FFF , 1299px 1998px #FFF , 684px 1259px #FFF , 1343px 699px #FFF , 245px 857px #FFF , 1470px 1122px #FFF , 701px 973px #FFF , 1055px 42px #FFF , 129px 39px #FFF , 1306px 925px #FFF , 118px 568px #FFF , 1539px 291px #FFF , 1068px 776px #FFF , 963px 1268px #FFF , 212px 410px #FFF , 1051px 1463px #FFF , 1481px 13px #FFF , 856px 1367px #FFF , 1696px 1px #FFF , 1697px 271px #FFF , 1906px 1001px #FFF , 236px 1524px #FFF , 1055px 1407px #FFF , 1966px 77px #FFF , 85px 566px #FFF , 1131px 613px #FFF , 205px 369px #FFF;
  animation: animStar 150s infinite linear;
}
#background #stars3:after {
  content: " ";
  position: absolute;
  top: 100vh;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1847px 1209px #FFF , 1298px 745px #FFF , 1435px 561px #FFF , 1815px 645px #FFF , 1426px 1860px #FFF , 737px 1407px #FFF , 829px 1870px #FFF , 1790px 755px #FFF , 756px 1850px #FFF , 778px 645px #FFF , 103px 1599px #FFF , 1101px 1838px #FFF , 214px 1948px #FFF , 837px 211px #FFF , 1048px 566px #FFF , 307px 236px #FFF , 630px 496px #FFF , 1961px 1028px #FFF , 1827px 1710px #FFF , 1181px 1356px #FFF , 639px 715px #FFF , 502px 1010px #FFF , 1781px 1169px #FFF , 990px 892px #FFF , 375px 1426px #FFF , 1710px 683px #FFF , 725px 196px #FFF , 1358px 1247px #FFF , 1430px 703px #FFF , 1507px 925px #FFF , 659px 436px #FFF , 597px 806px #FFF , 668px 926px #FFF , 1056px 1355px #FFF , 1389px 767px #FFF , 1709px 438px #FFF , 1694px 944px #FFF , 210px 1071px #FFF , 488px 1532px #FFF , 1992px 1404px #FFF , 1503px 1915px #FFF , 1408px 1640px #FFF , 1262px 260px #FFF , 633px 1084px #FFF , 1378px 508px #FFF , 221px 1364px #FFF , 1687px 465px #FFF , 848px 1498px #FFF , 679px 500px #FFF , 391px 1032px #FFF , 1267px 795px #FFF , 1351px 1651px #FFF , 1168px 785px #FFF , 762px 1665px #FFF , 1023px 1008px #FFF , 985px 73px #FFF , 358px 1149px #FFF , 355px 385px #FFF , 1780px 368px #FFF , 32px 182px #FFF , 453px 803px #FFF , 1038px 1276px #FFF , 1501px 722px #FFF , 1340px 1416px #FFF , 782px 1932px #FFF , 1050px 859px #FFF , 1514px 1801px #FFF , 1777px 988px #FFF , 606px 555px #FFF , 1050px 1710px #FFF , 1318px 1181px #FFF , 1815px 143px #FFF , 1666px 665px #FFF , 1224px 1564px #FFF , 1299px 1998px #FFF , 684px 1259px #FFF , 1343px 699px #FFF , 245px 857px #FFF , 1470px 1122px #FFF , 701px 973px #FFF , 1055px 42px #FFF , 129px 39px #FFF , 1306px 925px #FFF , 118px 568px #FFF , 1539px 291px #FFF , 1068px 776px #FFF , 963px 1268px #FFF , 212px 410px #FFF , 1051px 1463px #FFF , 1481px 13px #FFF , 856px 1367px #FFF , 1696px 1px #FFF , 1697px 271px #FFF , 1906px 1001px #FFF , 236px 1524px #FFF , 1055px 1407px #FFF , 1966px 77px #FFF , 85px 566px #FFF , 1131px 613px #FFF , 205px 369px #FFF;
}

nav {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 1vw;
  font-size: 1rem;
}
@media (max-width: 500px) {
  nav {
    font-size: 0.85rem;
    font-weight: 600;
    padding-left: 0.5vw;
  }
}
nav ul {
  display: flex;
  margin: 0;
  padding: 1rem;
  list-style: none;
  gap: 2rem;
}
@media (max-width: 500px) {
  nav ul {
    gap: 1rem;
  }
}
nav ul li a {
  transition: ease all 0.3s;
  display: inline-block;
  color: silver;
  text-decoration: none;
}
nav ul li a:hover {
  transform: scale(1.05);
}

#landingPage {
  box-sizing: border-box;
  padding: 1rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#landingPage #titlebox {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 0.5em;
}
@media (max-width: 500px) {
  #landingPage #titlebox {
    transform: translateY(-5vh);
  }
}
#landingPage #titlebox .title {
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: silver;
  font-size: 2em;
}
@media (max-width: 500px) {
  #landingPage #titlebox .title {
    font-size: 1.5em;
    font-weight: bolder;
  }
}

#divider {
  box-sizing: border-box;
  box-shadow: inset 0rem 2rem 1rem -2rem black;
  width: 100%;
  height: 50vw;
  border-top-left-radius: 55vw;
  border-top-right-radius: 55vw;
  border-bottom: 0;
  background: rgba(255, 255, 255, 0.95);
}

#divider-flipped {
  box-sizing: border-box;
  box-shadow: 0rem 2rem 1rem -2rem rgb(69, 69, 69);
  width: 100%;
  height: 50vw;
  border-bottom-left-radius: 55vw;
  border-bottom-right-radius: 55vw;
  border-top: 0;
  background: rgba(255, 255, 255, 0.95);
}

#planetsPage {
  box-sizing: border-box;
  padding: 0 5rem;
  padding-top: 5vh;
}
@media (max-width: 500px) {
  #planetsPage {
    padding: 1rem;
  }
}

#contactPage {
  box-sizing: border-box;
  padding: 1rem;
  height: 100vh;
  background: transparent;
  padding-top: 5vh;
}

.planet {
  box-sizing: border-box;
  margin: 5rem 0;
  width: min(65vh, 65vw);
  height: min(65vh, 65vw);
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.95);
  padding: 10%;
  transition: all 0.15s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}
.planet h1 {
  margin: 0;
  margin-top: 1rem;
}
@media (max-width: 500px) {
  .planet h1 {
    font-size: 1.25rem;
  }
}
.planet div {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.planet div a svg {
  height: 5rem;
  width: 5rem;
  transition: ease all 0.3s;
}
@media (max-width: 500px) {
  .planet div a svg {
    height: 3rem;
    width: 3rem;
  }
}
.planet div a svg:hover {
  transform: scale(1.05);
}
.planet h6 {
  color: gray;
  text-align: center;
  margin: 1rem;
}
@media (max-width: 500px) {
  .planet h6 {
    margin: 0.25rem;
    font-size: 0.55rem;
  }
}
.planet p {
  margin: 1rem;
}
@media (max-width: 500px) {
  .planet p {
    display: none;
  }
}

#contactPage {
  position: relative;
  overflow: hidden;
  background-color: transparent;
  padding-top: 35vh;
  padding-bottom: 10vh;
}
@media (max-width: 1000px) {
  #contactPage {
    padding-top: 45vh;
    flex: 1;
    justify-content: left;
  }
}
#contactPage .form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 25vw;
}
@media (max-width: 1000px) {
  #contactPage .form-container {
    margin: 0 10vw;
  }
}
#contactPage .form-container h2 {
  margin: 0;
  color: white;
  font-style: normal;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 2.375rem;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
@media (max-width: 1000px) {
  #contactPage .form-container h2 {
    font-size: 2rem;
  }
}
#contactPage .form-container p {
  margin-bottom: 2.25rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: silver;
  font-style: normal;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
@media (max-width: 1000px) {
  #contactPage .form-container p {
    font-size: 1rem;
  }
}
#contactPage .form-container form {
  padding: 1rem;
  width: 100%;
}
#contactPage .form-container form .form-group {
  margin-bottom: 1.25rem;
  width: 100%;
}
#contactPage .form-container form .form-group .form-control-input {
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #cbcbd1;
  border-radius: 4px;
  color: silver;
}
#contactPage .form-container form .form-group .form-control-textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI";
  padding: 1rem;
  min-height: 15vh;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #cbcbd1;
  border-radius: 4px;
  color: silver;
}
#contactPage .form-container form .form-group .form-control-submit-button {
  width: 100%;
  padding: 1rem;
  border: 1px solid silver;
  border-radius: 32px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.2s;
}
#contactPage .form-container form .form-group .form-control-submit-button:hover {
  border: 1px solid silver;
  background-color: transparent;
  color: white;
  box-shadow: 0 0 10px #cbcbd1;
}

.hidden {
  opacity: 0;
}

.right {
  margin-left: auto;
}

.left {
  margin-right: auto;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-100vh);
  }
}
@keyframes slide-left {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slide-right {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=index.css.map */
